<h1>Angular 2 with PrismJS</h1>
<codeblock prismjs="typescript">
import { Component, Type } from '@angular/core';
import { PrismJsDirective } from "./prismjs/prismjs.directive";
import { CodeblockComponent } from "./prismjs/codeblock.component";

@Component({
    selector: 'my-app',
    directives: [PrismJsDirective, CodeblockComponent],
    templateUrl: `app/app.component.html`
})
export class AppComponent {
    constructor() {}
}
</codeblock>

<codeblock prismjs="bash">
npm install ng-semantic --save
</codeblock>